/* add your CSS here */
body {
  width: 340px;
  margin: 30px auto;
}

h3{
  margin-left: 20px;
}

ul{
  list-style: none;
  padding: 0;
}

.feed-me {
  font-weight: bold;
}


p:first-child {
  font-style: italic;
}

.center-me {
  display: block;
  margin: 0 auto;
}

.container {
  border: 1px solid #1a1a1a;
  box-shadow: 10px 10px 20px -1px rgba(115,115,115,1);
}

.inner-container {
  border: 1px solid #1a1a1a;
  width: 278px;
  margin: 10px 0 10px 20px;
  padding: 5px 10px;
}
